body{
    padding: 0;
    margin: 0;
}
.landscape {
    
  height: 640px;
  width: 500px;
  background: url(/image/backgound2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
    

    

}