*{
    padding: 0;
    margin: 0;
}
.container-fluid{
  padding-left: 0;
}
.logo p{
  color: antiquewhite;
}
.logo img{
  color: antiquewhite;
}

.landscape{
    
  background-image: url("./image/SAROVA-STANLEY.webp");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 650px;
    width: 1346px;
    background-position: bottom;
    padding: 0;
    margin: 0;
    overflow: hidden;
    opacity: 70%;
}

.inform .l{
  background-color: rgba(240, 241, 243, 0.7);
  z-index: 999;
  height: 700px;
}

.inform{
  float: right;
  
}
.inform a{
list-style: none;
padding: 0 30px;
}
.inform  a{
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  margin: 0 10px; 
  color: bisque;
}
.logo{
  text-align: center;
  padding: 200px;
  font-size: 50px;

}
.logo{
  position: center;
}

.endpage img{
  padding-right:60px 60px 60px 60px;
}

