.picture{
background-image: url(./image/the-hotel-banner_.jpg);
background-repeat: no-repeat;
color: aliceblue;

}
.customerOne img{
    height: 300px;
    width: 300px;
    padding: 30px 30px 30px 15px;
    
  }
  .customer img{
    height: 300px;
    width: 300px;
    padding: 30px 30px 30px 15px;
    
  }
  .logo2{
    float: right;
  }